@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__like-button/card__like-button.css');
@import url('./__like-button/_is-active/card__like-button_is-active.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__title/card__title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.card__like {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 3px;
}

.card__like-counter {
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  text-align: center;
}